*, *:before, *:after {
    box-sizing: border-box !important;
}

a, a:visited, a:focus {
    color: #fff;
    text-decoration: none;
}

html, body {
    margin: 0px;
    font-family: 'Montserrat';
}

.container {
    text-align: center;
    padding: 50px;
}

button, input {
    font-family: 'Montserrat';
}
