.dashboard-page-wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
}

.dashboard-header {
    font-size: 30px;
    padding-top: 100px;
}

.dashboard-subheader {
    font-size: 15px;
    /* padding-top: 100px; */
    font-style: italic;
}

.content-wrapper {
    display: flex;
}

.account-wrapper {
    width: 50%;
    position: absolute;
    left: 20px;
    top: 0px;
}

.account-menu {
    display: flex;
}

.account-menu div {
    background: #0f3c0f;
    padding: 10px;
    border-radius: 25px;
    width: 30%;
    cursor: pointer;
    margin: 0px 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.currency-wrapper {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 300px;
}

.currency-wrapper p {
    display: inline;
    padding: 10px 30px;
    color: #000;
    border-radius: 25px;
    font-size: 14px;
    cursor: default;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.currency-wrapper button {
    padding: 10px 30px;
    color: #fff;
    background: #0f3c0f;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.currency-wrapper button:focus {
    outline: none;
}




.content {
    width: 50%;
    position: relative;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    padding: 10px 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.content h3 {
    font-size: 24px;
}

.content p {
    line-height: 2rem;
    text-align: left;
    font-size: 14px;
}

.content p > span {
    font-size: 15px;
    font-weight: bolder;
}

#modal-background {
    position: absolute;
    height: calc(100vh - 50px);
    width: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 100;
    display: none;
}

.modal-content {
    z-index: 200;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: none;
}

#modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
}

.modal-inputs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-inputs h1 {
    font-size: 16px;
    text-align: center;
    color: #1e261e;
}

.modal-inputs button {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    background: #0f3c0f;
    color: #fff;
    border: none;
    padding: 10px;
}

.modal-inputs input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e9e9e9;
    cursor: pointer;
    margin-top: 20px;
}

.modal-inputs input:focus {
    outline: none;
}